name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main


jobs:
  format:
    name: Format code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      # This runs "pre-commit run --show-diff-on-failure --color=always --all-files"
      - name: Download pre-commit
        uses: pre-commit/action@v3.0.1

  test:
    name: Test ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version: ["3.11", "3.13"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download uv
        uses: astral-sh/setup-uv@v7.1

      - name: Setup dev environment to get nox
        run: uv sync --group dev

      - name: Run tests
        run: uv run nox -s tests
